<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header style="color: #F0F0F0; background: #237CBE;">
<h1>Coder Events</h1>
</header><!-- /header -->

<%= yield %>

<footer style="color: #237CBE; background: #F0F0F0">
<p>
	Copyright &copy; 2013 Dan Crews
</p>	
</footer>

</body>
</html>
